<footer class="end-footer">
  <div id="find-us" class="end-title brand-title">
    HOTEL MARRIOT
    <hr class="line">
  </div>
  <h2 class="end-title underline">Contact US</h2>
  <br>
  <div class="row footer-contact">
    <div class="col-md-4 sm-border">
      <p><strong>Locations</strong></p>
      <p>Delhi &nbsp; &nbsp; &nbsp;| &nbsp; &nbsp; &nbsp; Patna</p>
    </div>
    <div class="col-md-4 center-border">
      <p><strong>Email</strong></p>
      <p>hotelmarriott@gmail.com</p>
    </div>
    <div class="col-md-4 sm-border">
      <p><strong>Telephone</strong></p>
      <p>(+91) 9837462823</p>
    </div>
  </div>
  <br>
</footer>