<h4 class="user-info-title">Booking Info</h4>
<hr>
<div class="input-box">
  <label class="label-name" for="name">Name</label>
  <input class="user-input" type="text" name="name" id="name" placeholder="NAME">
</div>
<div class="input-box">
  <label class="label-name" for="email">Email</label>
  <input class="user-input" type="text" name="email" id="email" placeholder="EMAIL">
</div>
<div class="input-box">
  <label class="label-name" for="address">Address</label>
  <input class="user-input" type="text" name="address" id="address" placeholder="ADDRESS">
</div>
<div class="input-box">
  <label class="label-name" for="address">Phone </label>
  <input class="user-input" type="text" name="phone" id="phone" placeholder="Phone Number">
</div>
<div class="input-box">
  <label class="label-name" for="nationality">Nationality</label>
  <input class="user-input" type="text" name="nationality" id="nationality" placeholder="NATIONALITY">
</div>